{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in categories %}
                    <tr>
                        <td>{{ cat.name }}</td>
                        <td>{{ cat.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
