{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for acct in accounts %}
                    <tr>
                        <td>{{ acct.name }}</td>
                        <td>{{ acct.number }}</td>
                        <td>{{ acct.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
